.header {
	height: 40px;
	background-color: orange;
}

.container{
	height: 500px;
	padding: 25px 25px;
	background-color: blue;
	overflow: auto;
}

.container .widgetOrange{
	height: 45%;
	width: 18%;
	background-color: orange;
	float: left;
	margin-right: 20px;
}

.container .widgetYellow{
	height: 45%;
	width: 18%;
	background-color: yellow;
	float: left;
	margin-right: 20px;
}

.container .gadget{
	height: 45%;
	width: 18%;
	background-color: pink;
	float: left;
	margin-right: 20px;
	border-radius: 8px;
}

.footer{
	height: 40px;
	clear: both;
	background-color: green;
}