.header{
	height: 40px;
	background-color: orange;
	padding: 10px 10px;
}

.header .logo{
	height: 100%;
	width:25%;
	float:left;
	background-color: purple;
}

.header .navigation{
	height: 100%;
	width:75%;
	float:left;
	background-color: red;
}

.container{
	height: 500px;
}

.container .sidebar{
	height: 100%;
	width: 25%;
	background-color: yellow;
	float: left;
}

.container .content{
	height: 100%;
	width: 75%;
	background-color: blue;
	float: right;
}

.footer{
	height: 40px;
	clear: both;
	background-color: green;
}